.SideMenu {
    grid-area: sidemenu;
    background-color: rgb(88, 180, 241);
} 

.item a{
    color: rgb(250, 249, 248);
    text-decoration: none;
}

.item a.activeLink {
    color: rgb(112, 96, 3);
}
