.dialogsContent {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogItem {
    margin-bottom: 30px;
}

.active{
    color: gold !important;
}

.resident a {
    text-decoration: none;
    margin: 20px;
}

.resident {

}

.dialog {

}